/*
***
This file have theme colors customizations sass variable and
 it will override bootstrap default variables
***
 
*/

$primary: #db0632;
$secondary: #d3e2fd;
$darkBlue: #1a3048;
$success: #76bd1d;
$white: #ffffff;
$warning: #e67d3c;
$danger: #c8444b;

//default  font-size
$font-size-base: 1rem;
